<% provide(:title, 'Blog') %>
<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Date</th>
    <th>Entry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.author %></td>
    <td><%= blog.date %></td>
    <td><%= blog.entry %></td>
    <td><div class="btn"><%= link_to 'Show', blog %></div></td>
    <td><div class="btn"><%= link_to 'Edit', edit_blog_path(blog) %></div></td>
    <td><div class="btn"><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog', new_blog_path %>
